# Fichier de configuration WireGuard (wg0.conf)

[Interface]
PrivateKey = {{ private_key }}
Address = {{ server_address_priv }}/24
ListenPort = {{ listen_port }}
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
